body {
    margin: 0;
    padding: 0;
    background: #4c3c24;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFEBE4; 
    min-height: 100vh;
    padding-left: 250px; 
}

.page-title {
    color: #EFEBE4;
    margin: 0;
    font-size: 2rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #4c3c24;
}

.add-button {
    background-color: #ebc32e;
    color: var(#4c3c24);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.add-button i {
    margin-right: 8px;
}

.add-button:hover {
    background-color: #d1b128; 
    transform: translateY(-1px);
}

.form-container {
    padding: 0;
}

.room-block {
    background-color: #444444;;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    border-top: 5px solid #ebc32e;
}


.room-block input[type="text"],
.room-block textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #666;
    border-radius: 4px;
    box-sizing: border-box; 
    background-color: #555;
    color: white;
    font-size: 1rem;
    resize: vertical;
}

.room-block textarea {
    min-height: 80px;
}


.image-upload {
    margin-bottom: 20px;
}

.image-label {
    display: block;
    width: 100%;
    height: 150px;
    background-color: #555;
    color: #ebc32e;
    border: 2px dashed #ebc32e;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: background-color 0.2s;
    box-sizing: border-box;
}

.image-label:hover {
    background-color: #666;
}

.image-label i {
    font-size: 2rem;
    margin-bottom: 5px;
}

.image-upload input[type="file"] {
    display: none; 
}

.add-block-button {
    display: block;
    width: 50px;
    height: 50px;
    margin: 30px auto 10px auto;
    background-color: #ebc32e;
    color: var(#4c3c24);
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s;
}

.add-block-button:hover {
    background-color: #d1b128;
    transform: scale(1.05);
}

.remove-room-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #c9302c; 
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s;
}

.remove-room-button:hover {
    background-color: #a72320;
}