* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: #ebc32e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

/* Lista central */
.navlist {
  list-style: none;
  display: flex;
  gap: 60px;
}

.navlist li a {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-icons span {
  color: #fff;
  font-size: 45px;
  cursor: pointer;
}

.nav-esquerda {
  width: 80px;
}

.btn-nav-cadastro {
  background-color: transparent !important;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 8px 18px;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;

  appearance: none;
  -webkit-appearance: none;
}

.btn-nav-cadastro:hover {
  background-color: #ffffff;
  color: #ebc32e;
  border-color: #ffffff;
}

#abrirLoginBtn {
  cursor: pointer;
}


.user-menu-container {
    position: relative;
    display: inline-block;
}

.user-dropdown {
    display: none; 
    position: absolute;
    right: -10px; 
    top: 140%;   
    
    background-color: #ffffff;
    min-width: 220px;
    border-radius: 12px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
    border: 1px solid #f0f0f0;
    
    padding: 10px 0;
    z-index: 1000;
    overflow: hidden;
    
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.show-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.user-dropdown::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 20px;
    width: 12px;
    height: 12px;
    background: white;
    transform: rotate(45deg);
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
}

.user-dropdown a {
    text-decoration: none;
    display: block;
    padding: 12px 25px;
    font-size: 15px;
    color: #333;
    font-family: 'Arial', sans-serif;
    transition: all 0.2s ease;
    border-left: 3px solid transparent; 
}


.user-dropdown .user-name-display {
    color: #ebc32e; 
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 5px;
    cursor: default;
}

.user-dropdown a:not(.user-name-display):hover {
    background-color: #f9f9f9;
    color: #ebc32e; 
    border-left: 3px solid #ebc32e; 
    padding-left: 30px; 
}


.user-dropdown a#btnSair:hover {
    color: #c9302c; 
    border-left-color: #c9302c;
    background-color: #fff5f5;
}
