<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/public/css/header.css">

    <!-- ÍCONES -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>

<body>

    <header>

        <nav class="navbar">
            <div class="nav-esquerda"></div>

            <ul class="navlist">
                <li><a href="">Início</a></li>
                <li><a href="">Contato</a></li>
                <li><a href="">Quartos</a></li>
                <li><a href="">Localização</a></li>
            </ul>

            <div class="nav-icons">
                <span class="material-icons-outlined">account_circle</span>
            </div>
        </nav>

    </header>

</body>

</html>